<table id="club_rating">
  <thead>
    <tr>
      <th colspan="2">
        Club Ratings
      </th>
    </tr>
  </thead>
  <tr>
    <td>Average Rating</td>
    <td>
      <%= @club.club_average_rating %>
    </td>
  </tr>
  <tr>
    <td>Your Rating</td>
    <td>
      <%= current_user_club_rating %>
    </td>
  </tr>
</table>