<h3>View, rate, and share your experience about a club</h3>

<% content_for(:scripts) do %>
<%= javascript_include_tag 'rating_ballot' %>
<% end %>
<form>
  <table>
  <thead>
    <tr>
      <th>Club Name</th>
      <th>Club Description</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.club_name %></td>
        <td><%= club.club_description %></td>
        <td><% for i in 1..5 %>
      <% if i <= club.club_average_rating %>
      <%= image_tag("star-on.png") %>
      <% else %>
      <%= image_tag("star-off.png") %>
      <%end%>
     <% end %>
       (<%= club.club_ratings.size %>)</td>
        <td><%= link_to 'See More', club_path(club), class: "comment" %><% if is_admin? %>
      <%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--<ul class="small-block-grid-1">
  <% @clubs.each do |club| %>
  <li class="border"><%=club.club_name%>

    <div class="stars">

      <p><strong>Avg. Rating</strong></p>
      <% for i in 1..5 %>
      <% if i <= club.club_average_rating %>
      <%= image_tag("star-on.png") %>
      <% else %>
      <%= image_tag("star-off.png") %>
      <%end%>
      <% end %>

      (<%= club.club_ratings.size %>)

      <%= link_to 'See More', club_path(club), class: "comment" %>
      <% if is_admin? %>
      <%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
    </div>

  </li>

  <%end%>

</ul>-->

<br>
<% if is_admin? %>
<%= link_to 'New Club', new_club_path %>
<%end%>