<h3>View, rate, and share your experience about a club</h3>
<p id="notice"><%= notice %></p>

  <font color="red"><p><%= @club.club_name %></font><br><br>
  <%= @club.club_description %>


<% content_for(:scripts) do %>
  <%= javascript_include_tag 'club_rating_ballot' %>
<% end %>
<div class="starsfloatright">
<%= form_for(club_rating_ballot, :remote => true, :html => { :class => 'club_rating_ballot' }) do |f| %>
    <%= f.label("value_1", content_tag(:span, '1'), {:class=>"club_rating", :id=>"1"}) %>
    <%= radio_button_tag("club_rating[value]", 1, current_user_club_rating == 1, :class => 'club_rating_button') %>
    <%= f.label("value_2", content_tag(:span, '2'), {:class=>"club_rating", :id=>"2"}) %>
    <%= radio_button_tag("club_rating[value]", 2, current_user_club_rating == 2, :class => 'club_rating_button') %>
    <%= f.label("value_3", content_tag(:span, '3'), {:class=>"club_rating", :id=>"3"}) %>
    <%= radio_button_tag("club_rating[value]", 3, current_user_club_rating == 3, :class => 'club_rating_button') %>
    <%= f.label("value_4", content_tag(:span, '4'), {:class=>"club_rating", :id=>"4"}) %>
    <%= radio_button_tag("club_rating[value]", 4, current_user_club_rating == 4, :class => 'club_rating_button') %>
    <%= f.label("value_5", content_tag(:span, '5'), {:class=>"club_rating", :id=>"5"}) %>
    <%= radio_button_tag("club_rating[value]", 5, current_user_club_rating == 5, :class => 'club_rating_button') %>

    <%= hidden_field_tag("club_id", @club.id) %>
    <%= f.submit :Submit, :id => "club_rating_submit" %>

    <% end %></div>
<br>
<!--<table id="rating">
  <thead>
    <tr>
      <th colspan="2">
        Club Ratings
      </th>
    </tr>
  </thead>
  <tr>
    <td>Average Rating</td>
    <td>
      <%= @club.club_average_rating %>
    </td>
  </tr>
  <tr>
    <td>Your Rating</td>
    <td>
      <%= current_user_club_rating %>
    </td>
  </tr>
</table>-->

<p class="border-for-show"></p>
<font color="red"><p><p><strong>Comments:</strong></p> </font>
<% @club_comments.each do |club_comment| %>
<% if club_comment.club.id == @club.id %>
   <p><strong> <%= club_comment.user.first_name %>: </strong> <%= club_comment.comment_made %> </p>
<%end%>
<%end%>


<p class="border-for-show"></p>
<font color="red"><p><p> Post a comment: </p></font>

<%= form_for [@club, @club_comment] do |f| %>
   <%= f.text_field :comment_made %>
   <%= f.submit %>
<% end %>


<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>

