<span id="mission">Rate and Share your experience with Tartan Ratings</span> <br>
<ul class="small-block-grid-3">
<li><%= link_to image_tag("courses.png", :alt => 'courses'), {:action => 'index', :controller => 'courses_categories'} %></li>

<li><%= link_to image_tag("cafeteria.png", :alt => 'cafeteria'), {:action => 'index', :controller => 'cafeteria_categories'} %></li>

<li><%= link_to image_tag("clubs_bigger.png", :alt => 'clubs'), {:action => 'index', :controller => 'clubs'} %></li>
</ul>

