<div class="sign_in_center">
<% provide(:title, "Sign in") %>
<% if !signed_in? %>
<h1>Sign in</h1>

<div>

  <div>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
  <% end%>
</div>
</div>