<table id="cafeteria_rating">
  <thead>
    <tr>
      <th colspan="2">
        Cafeteria Ratings
      </th>
    </tr>
  </thead>
  <tr>
    <td>Average Rating</td>
    <td>
      <%= @cafeterium.cafeteria_average_rating %>
    </td>
  </tr>
  <tr>
    <td>Your Rating</td>
    <td>
      <%= current_user_cafeteria_rating %>
    </td>
  </tr>
</table>