<!-- <%# app/views/cafeteria/_list.html.erb %>
<div id="filterrific_results">

  <div>
    <%= page_entries_info cafeteria # provided by will_paginate %>
  </div>


  <table>
    <tr>
      <th>Name</th>
    </tr>
    <% cafeteria.each do |cafeteria| %>
      <tr>
        <td><%= link_to(cafeteria.name, cafeteria_path(cafeteria)) %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate cafeteria # provided by will_paginate %> -->