// <%# app/views/students/index.js.erb %>
// <% js = escape_javascript(
//   render(partial: 'cafeteria/list', locals: { cafeteria: @cafeteria })
// ) %>
// $("#filterrific_results").html("<%= js %>");