<h3>View, rate, and share your experience about a cafeteria item</h3>

<% content_for(:scripts) do %>
<%= javascript_include_tag 'rating_ballot' %>
<% end %>

<form>
<thead>
    <tr>
      <th>Filter By    <%= select_tag "cafeteria_category_id", options_from_collection_for_select( CafeteriaCategory.all, "id", "name"), prompt: "Cafeteria Category" %> </th>
    </tr>
  </thead>
  <%= submit_tag 'Update', class: "btn btn-primary" %> </form>

  <table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Item Description</th>
      <th>Item Price</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cafeteria.each do |cafeterium| %>
      <tr>
        <td><%= cafeterium.item_name %></td>
        <td><%= cafeterium.item_description %></td>
        <td><%= cafeterium.item_price %></td>
        <td><% for i in 1..5 %>
      <% if i <= cafeterium.cafeteria_average_rating %>
      <%= image_tag("star-on.png") %>
      <% else %>
      <%= image_tag("star-off.png") %>
      <%end%>
     <% end %>
       (<%= cafeterium.cafeteria_ratings.size %>)</td>
        <td><%= link_to 'See More', cafeterium_path(cafeterium), class: "comment" %><% if is_admin? %>
      <%= link_to 'Destroy', cafeterium, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!--<ul class="small-block-grid-1">
<thead>
    <tr>
      <th>Filter By<%= collection_select(:cafeteria_category, :name, CafeteriaCategory.all, :name, :name, prompt: true) %> </th>
    </tr>
  </thead>
    <%= submit_tag 'Update', class: "btn btn-primary" %>

  <% @cafeteria.each do |cafeterium| %>
  <li class="border"><%=cafeterium.item_name%>

    <div class="stars">

      <p><strong>Avg. Rating</strong></p>
      <% for i in 1..5 %>
      <% if i <= cafeterium.cafeteria_average_rating %>
      <%= image_tag("star-on.png") %>
      <% else %>
      <%= image_tag("star-off.png") %>
      <%end%>
      <% end %>

      (<%= cafeterium.cafeteria_ratings.size %>)

      <%= link_to 'See More', cafeterium_path(cafeterium), class: "comment" %>
      <% if is_admin? %>
      <%= link_to 'Destroy', cafeterium, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
    </div>

  </li>

  <%end%>

</ul>-->

<br>
<% if is_admin? %> 
<%= link_to 'New Cafeterium', new_cafeterium_path %>
<%end%> 