<h3>View, rate, and share your experience about a cafeteria item</h3>
<p id="notice"><%= notice %></p>

    <font color="red"><%= @cafeterium.item_name %></font><br><br>
  <%= @cafeterium.item_description %><br><br>


<% content_for(:scripts) do %>
  <%= javascript_include_tag 'cafeteria_rating_ballot' %>
<% end %>
<div class="starsfloatright">
<%= form_for(cafeteria_rating_ballot, :remote => true, :html => { :class => 'cafeteria_rating_ballot' }) do |f| %>
    <%= f.label("value_1", content_tag(:span, '1'), {:class=>"cafeteria_rating", :id=>"1"}) %>
    <%= radio_button_tag("cafeteria_rating[value]", 1, current_user_cafeteria_rating == 1, :class => 'cafeteria_rating_button') %>
    <%= f.label("value_2", content_tag(:span, '2'), {:class=>"cafeteria_rating", :id=>"2"}) %>
    <%= radio_button_tag("cafeteria_rating[value]", 2, current_user_cafeteria_rating == 2, :class => 'cafeteria_rating_button') %>
    <%= f.label("value_3", content_tag(:span, '3'), {:class=>"cafeteria_rating", :id=>"3"}) %>
    <%= radio_button_tag("cafeteria_rating[value]", 3, current_user_cafeteria_rating == 3, :class => 'cafeteria_rating_button') %>
    <%= f.label("value_4", content_tag(:span, '4'), {:class=>"cafeteria_rating", :id=>"4"}) %>
    <%= radio_button_tag("cafeteria_rating[value]", 4, current_user_cafeteria_rating == 4, :class => 'cafeteria_rating_button') %>
    <%= f.label("value_5", content_tag(:span, '5'), {:class=>"cafeteria_rating", :id=>"5"}) %>
    <%= radio_button_tag("cafeteria_rating[value]", 5, current_user_cafeteria_rating == 5, :class => 'cafeteria_rating_button') %>

    <%= hidden_field_tag("cafeterium_id", @cafeterium.id) %>
    <%= f.submit :Submit, :id => "cafeteria_rating_submit" %>

    <% end %></div>
<br>
<!--<table id="cafeteria_rating">
  <thead>
    <tr>
      <th colspan="2">
        Cafeteria Ratings
      </th>
    </tr>
  </thead>
  <tr>
    <td>Average Rating</td>
    <td>
      <%= @cafeterium.cafeteria_average_rating %>
    </td>
  </tr>
  <tr>
    <td>Your Rating</td>
    <td>
      <%= current_user_cafeteria_rating %>
    </td>
  </tr>
</table>-->

<p class="border-for-show"></p>
  <font color="red"><p><strong>Comments:</strong></p> </font>
<% @cafeterium_comments.each do |cafeterium_comment| %>
<% if cafeterium_comment.cafeterium.id == @cafeterium.id %>
   <p><strong> <%= cafeterium_comment.user.first_name %>: </strong> <%= cafeterium_comment.comment_made %> </p>
<%end%>
<%end%>

<p class="border-for-show"></p>
  <font color="red"><p> Post a comment: </p></font>

<%= form_for [@cafeterium, @cafeterium_comment] do |f| %>
   <%= f.text_field :comment_made %>
   <%= f.submit %>
<% end %>

<%= link_to 'Edit', edit_cafeterium_path(@cafeterium) %> |
<%= link_to 'Back', cafeteria_path %>
