<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
      <%= f.label :password_confirmation, "Confirmation" %><br>
      <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :major %><br>
 <%= f.select(:major, ["Computer Science", "Information Systems", "Business Administration", "Biological Sciences"])%>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.select(:year,[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
