<span id="mission">Rate and Share your experience with Tartan Ratings</span> <br>
<div class="landingcenter">
<ul class="small-block-grid-2 large-block-grid-3">
	<li><%= link_to image_tag("courses.png", class: "coursespicture", :alt => 'courses'), {:action => 'index', :controller => 'courses'} %><p class="titles-bold" style="text-align: center;">Courses</p>
		<span class="mostpopular"> Most Popular</span>
		<ol class="centeringtoptwo">
			<% @most_popular_courses.each do |course| %>
			<li> <%= course.course_name %> </li>
			<%end%>
		</ol>
	</li>
	<li><%= link_to image_tag("cafeteria.png", class: "cafeteriapicture", :alt => 'cafeteria'), {:action => 'index', :controller => 'cafeteria'} %><p class="titles-bold" style="text-align: center;">
		Cafeteria</p>
		<span class="mostpopular"> Most Popular</span>
		<ol class="centeringtoptwo">
			<% @most_popular_cafeteria_items.each do |cafeterium| %>
			<li> <%= cafeterium.item_name %> </li>
			<%end%>
		</ol>
	</li>

	<li class="clubspicture"><%= link_to image_tag("clubs_bigger.png", class: "clubspicture", :alt => 'clubs'), {:action => 'index', :controller => 'clubs'} %><p class="titles-bold" style="text-align: center;">
		Clubs</p>
		<span class="mostpopular"> Most Popular</span>
		<ol class="centeringtoptwo">
			<% @most_popular_clubs.each do |club| %>
			<li> <%= club.club_name%> </li>
			<%end%>
		</ol>
	</li>
</ul>
</div>

