Search Results
<%if @courses%>
<%if not @courses.empty? %> 
<table>
  <caption> Results from courses</caption>
  <thead>
    <tr>
      <th>Course name</th>
      <th>Course number</th>
      <th>Course description</th>
    </tr>
  </thead>
</tbody>
<% @courses.each do |course| %>
<tr>
  <td><%= course.course_name %></td>
  <td><%= course.course_number %></td>
  <td><%= course.course_description %></td>
</tr>
<% end %>

</tbody> 
</table>
<%end%>
<%end%>






<% if @cafeteria%>
<%if not @cafeteria.empty? %> 
<table>
  <caption> Results from cafeteria</caption>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Item description</th>
    </tr>
  </thead>

  <tbody>
    <% @cafeteria.each do |cafeterium| %>
    <tr>
      <td><%= cafeterium.item_name %></td>
      <td><%= cafeterium.item_description %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%end%> 
<%end%>


<% if @clubs %>
<%if not @clubs.empty? %> 
<table>
 <caption> Results from clubs</caption>
 <thead>
  <tr>
    <th>Club name</th>
    <th>Club description</th>
  </tr>
</thead>

<tbody>
  <% @clubs.each do |club| %>
  <tr>
    <td><%= club.club_name %></td>
    <td><%= club.club_description %></td>
  </tr>
  <% end %>
</tbody>
</table>
<%end%> 
<%end%> 