<p id="notice"><%= notice %></p>
<div class="border small-block-grid-1">

<p style="margin-left: 60px;">
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p style="margin-left: 60px;">
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p style="margin-left: 60px;">
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p style="margin-left: 60px;">
  <strong>Major:</strong>
  <%= @user.major %>
</p>

<p style="margin-left: 60px;">
  <strong>Year:</strong>
  <%= @user.year %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>

</div>
<!--<%= link_to 'Back', users_path %>-->
