<h1>Listing cafeterium_comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment made</th>
      <th>Cafeterium</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cafeterium_comments.each do |cafeterium_comment| %>
      <tr>
        <td><%= cafeterium_comment.comment_made %></td>
        <td><%= cafeterium_comment.cafeterium %></td>
        <td><%= cafeterium_comment.user %></td>
        <td><%= link_to 'Show', cafeterium_comment %></td>
        <td><%= link_to 'Edit', edit_cafeterium_comment_path(cafeterium_comment) %></td>
        <td><%= link_to 'Destroy', cafeterium_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cafeterium comment', new_cafeterium_comment_path %>
