<h1>New cafeterium_comment</h1>

<%= render 'form' %>

<%= form_for [@cafeterium, @cafeterium_comment] do |f| %>
   <%= f.text_field :comment_made %>
   <%= f.submit %>
<% end %>

<%= link_to 'Back', cafeterium_comments_path %>
