<p id="notice"><%= notice %></p>

<p>
  <strong>Comment made:</strong>
  <%= @cafeterium_comment.comment_made %>
</p>

<p>
  <strong>Cafeterium:</strong>
  <%= @cafeterium_comment.cafeterium %>
</p>

<p>
  <strong>User:</strong>
  <%= @cafeterium_comment.user %>
</p>

<%= link_to 'Edit', edit_cafeterium_comment_path(@cafeterium_comment) %> |
<%= link_to 'Back', cafeterium_comments_path %>
