<%= form_for(@course) do |f| %>
<% if @course.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

  <ul>
    <% @course.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :course_name %><br>
  <%= f.text_field :course_name %>
</div>
<div class="field">
  <%= f.label :course_number %><br>
  <%= f.text_field :course_number %>
</div>
<div class="field">
  <%= f.label :course_description %><br>
  <%= f.text_field :course_description %>
</div>
<div class="field">
  <%= f.label :professor %> 
  <%= f.collection_select(:professor_id, Professor.all,:id, :name)%> 
</div>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.select(:year,[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018]) %>
  </div>

<div class="field">
  <%= f.label :category %> 
  <%= f.collection_select(:courses_category_id, CoursesCategory.all,:id, :name)%> 
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
