<table id="rating">
  <thead>
    <tr>
      <th colspan="2">
        Course Ratings
      </th>
    </tr>
  </thead>
  <tr>
    <td>Average Rating</td>
    <td>
      <%= @course.average_rating %>
    </td>
  </tr>
  <tr>
    <td>Your Rating</td>
    <td>
      <%= current_user_rating %>
    </td>
  </tr>
</table>