<h3>View, rate, and share your experience about a course</h3>

<% content_for(:scripts) do %>
<%= javascript_include_tag 'rating_ballot' %>
<% end %>
<form>
<thead>
    <tr>
      <th>Filter By    <%= select_tag "courses_category_id", options_from_collection_for_select( CoursesCategory.all, "id", "name"), prompt: "Course Category" %> </th>
    </tr>
  </thead>
  <%= submit_tag 'Update', class: "btn btn-primary" %> </form>

  <table>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Course Number</th>
      <th>Course Description</th>
      <th>Professor</th>
      <th>Year</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_name %></td>
        <td><%= course.course_number %></td>
        <td><%= course.course_description %></td>
        <td><%= course.professor.name %></td>
        <td><%= course.year %>        </td>
        <td><% for i in 1..5 %>
      <% if i <= course.average_rating %>
      <%= image_tag("star-on.png") %>
      <% else %>
      <%= image_tag("star-off.png") %>
      <%end%>
     <% end %>
       (<%= course.ratings.size %>)</td>
        <td><%= link_to 'See More', course_path(course), class: "comment" %><% if is_admin? %>
      <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--
<ul class="small-block-grid-1">

<thead>
    <tr>
      <th>Filter By<%= collection_select(:courses_category, :name, CoursesCategory.all, :name, :name, prompt: true) %> </th>
    </tr>
  </thead>
  <%= submit_tag 'Update', class: "btn btn-primary" %>
  <% @courses.each do |course| %>
  <li class="border"><%=course.course_name%>
  <td><%= course.year %></td>
    <div class="stars">
    <p><strong>Avg. Rating</strong></p>
   <% for i in 1..5 %>
      <% if i <= course.average_rating %>
      <%= image_tag("star-on.png") %>
      <% else %>
      <%= image_tag("star-off.png") %>
      <%end%>
     <% end %>

    (<%= course.ratings.size %>)

      <%= link_to 'See More', course_path(course), class: "comment" %>
      <% if is_admin? %>
      <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
    </div>

  </li>

  <%end%>

</ul>
-->
<br>
<% if is_admin? %>
<%= link_to 'New Course', new_course_path %>
<%end%>