<h3>View, rate, and share your experience about a course</h3>
</p>
<p id="notice"><%= notice %></p>

  <font color="red"><%= @course.course_number %>
  <%= @course.course_name %></font>
  (<%= @course.professor.name %>)<br><br>
  <%= @course.course_description %><br>

<% content_for(:scripts) do %>
  <%= javascript_include_tag 'rating_ballot' %>
<% end %>

<div class="starsfloatright">
<%= form_for(rating_ballot, :remote => true, :html => { :class => 'rating_ballot' }) do |f| %>
    <%= f.label("value_1", content_tag(:span, '1'), {:class=>"rating", :id=>"1"}) %>
    <%= radio_button_tag("rating[value]", 1, current_user_rating == 1, :class => 'rating_button') %>
    <%= f.label("value_2", content_tag(:span, '2'), {:class=>"rating", :id=>"2"}) %>
    <%= radio_button_tag("rating[value]", 2, current_user_rating == 2, :class => 'rating_button') %>
    <%= f.label("value_3", content_tag(:span, '3'), {:class=>"rating", :id=>"3"}) %>
    <%= radio_button_tag("rating[value]", 3, current_user_rating == 3, :class => 'rating_button') %>
    <%= f.label("value_4", content_tag(:span, '4'), {:class=>"rating", :id=>"4"}) %>
    <%= radio_button_tag("rating[value]", 4, current_user_rating == 4, :class => 'rating_button') %>
    <%= f.label("value_5", content_tag(:span, '5'), {:class=>"rating", :id=>"5"}) %>
    <%= radio_button_tag("rating[value]", 5, current_user_rating == 5, :class => 'rating_button') %>

    <%= hidden_field_tag("course_id", @course.id) %>
    <%= f.submit :Submit, :id => "rating_submit" %>

    <% end %></div>
<br>
<!--<table id="rating">
  <thead>
    <tr>
      <th colspan="2">
        Course Ratings
      </th>
    </tr>
  </thead>
  <tr>
    <td>Average Rating</td>
    <td>
      <%= @course.average_rating %>
    </td>
  </tr>
  <tr>
    <td>Your Rating</td>
    <td>
      <%= current_user_rating %>
    </td>
  </tr>
</table>-->
<p class="border-for-show"></p>
<font color="red"><p><strong>Comments:</strong></p> </font>
<% @course_comments.each do |course_comment| %>
<% if course_comment.course.id == @course.id %>
   <p><strong> <%= course_comment.user.first_name %>: </strong> <%= course_comment.comment_made %> </p>
<%end%>
<%end%>
<p class="border-for-show"></p>
<font color="red"><p> Post a comment: </p></font>

<%= form_for [@course, @course_comment] do |f| %>
   <%= f.text_field :comment_made %>
   <%= f.submit %>
<% end %>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
