/*Header*/
body {
	font-family: 'Open Sans', sans-serif;
}
#header{
	padding: 10px;
	background-color: black;
	min-height: 150px;
}
.navbar-fixed-top{ 
	clear: both;
	background-color: black;
	width: 100%;
}
.style-logo{
	margin-top: 100px;
}
#mission{
	position: relative;
	left:27%;
	color: red;
	font-size: 24px;
}
#uni-name{
	color: red;
	font-size: 25px;
}
#uni-location{
	color: gray;
	font-size: 25px;
}
#dropdown-menu{
	position: right;
}
#dropdown_search{
	float: right;
}
.centeringtoptwo{
	text-align: center;
	list-style-position: inside;
}
.mostpopular{
	text-align: center;
	display: block;
}
.landingcenter{
	margin-top: 5%
}

ul.small-block-grid-3 li img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
html, body{
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
	min-width: 1150px;
}
#content {
	padding:10px;
	padding-bottom:110px;
}
.titles-bold{
	font-weight: bold;
}


/* Footer*/
#footer{ 
	clear: both;
	position: absolute;
	background-color: black;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 100px;
	padding-top: 30px;
	overflow: auto;
}
.style-visitcmuq{
	color: white;
	/*margin-left: 200px;*/
}
.style-sitemap{
	color: white;
	/*margin-left: 100px;*/
}
.style-contactus{
	color: white;
	/*margin-left: 100px;*/
}
#style-copyrights{
	color: white;
	/*margin-left: 270px;*/
	font-size: 13px;
	display: block;
}
#footer img{
	background-color: white;
}
#footer_icons{
	float: right;
}

/**/
.contact-us-page{
	font-size: 30px;

}
/*Signin or main page*/
.sign_in_center label{
	font-size: 30px;
}
#session_email{
	width: 20%;
	/*margin-left: auto;
	margin-right: auto;*/
}
#session_password{
	width: 20%;
	/*margin-left: auto;
	margin-right: auto;*/
}
.coursespicture{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.cafeteriapicture{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.clubspicture{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*Signing up page*/

.field{
	width: 20%;
}
.field label{
	font-size: 25px;
}
/*#user_first_name{
	width: 20%;
}
#user_last_name{
	width: 20%;
}
#user_first_name{
	width: 20%;
}
#user_email{
	width: 20%;
}
#user_password{
	width: 20%;
}
#user_password_confirmation{
	width: 20%;
}
#majorpick{
	width: 100%;
}
#yearpick{
	width: 100%;
	}*/

/*Edit profile page
#user_major{
	width: 20%;
}
#user_year{
	width: 20%;
	}*/

	/*clubs index*/
	.stars{
		float: right;
	}
	.border{
		border: 1px solid black;
	}
	.small-block-grid-1{
		margin-left: 70px;
		width: 70%;
	}
	.comment{
		display: block;
	}

	#cafeteria_category_id{
		width: 30%;
	}
	#courses_category_id{
		width: 30%;
	}
	.starsfloatright{
		float: right;
	}
	.border-for-show{
		border-style: solid;
		border-width: 1px;
	}
	#course_comment_comment_made{
		width: 50%;
		height: 100px;
	}
	#cafeterium_comment_comment_made{
		width: 50%;
		height: 100px;
	}
	#club_comment_comment_made{
		width: 50%;
		height: 100px;
	}
	/*Mobile Version*/

	@media only screen and (max-width: 20em) { 
		
		#wrapper{
			width: 20em;
			min-width: 0;
		}	
		/*Header*/
		.nav.pull-right{
			display: none;
		}
		#uni-name{
			display: none;
		}
		#uni-location{
			display: none;
		}

		/*Signin*/
		#session_email{
			width: 60%;
		}
		#session_password{
			width: 60%;
		}

		/*Main Page*/
		#mission {
			position: relative;
			left: 7%;
			color: red;
			font-size: 12px;
		}
		.clubspicture{
			margin-left: 70px;
		}

		/*Signup*/
		.field{
			width: 60%;
		}
	/*#user_first_name{
		width: 60%;
	}
	#user_last_name{
		width: 60%;
	}
	#user_first_name{
		width: 60%;
	}
	#user_email{
		width: 60%;
	}
	#user_password{
		width: 60%;
	}
	#user_password_confirmation{
		width: 60%;
		}*/
		#majorpick{
			width: 20%;
		}
		#yearpick{
			width: 60%;
		}

		/*Footer*/
		#footer_icons{
			display: none;
		}
		a.style-visitcmuq{
			display: none;
		}
		a.style-sitemap{
			display: none;
		}
		a.style-contactus{
			display: none;
		}
		#style-copyrights{
			display: none;
		}
	}


	/*--courses rating css --*/

	form.rating_ballot input#rating_submit { display: none; }
	form.rating_ballot input.rating_button { display: none; }

	label.rating{

	}

	form.rating_ballot label.rating { cursor: pointer; 	margin-left: 0;
		margin-right: 0; display: block; height: 16px; width: 16px; float: left; }
		form.rating_ballot label.rating span { display: none; }
		form.rating_ballot label.rating { background-image: url(/assets/star-off.png); }
		form.rating_ballot label.rating.bright { background-image: url(/assets/star-on.png); }
		form.rating_ballot label.rating.glow { background-image: url(/assets/star-on.png); }

		/*--cafeteria rating css --*/

		form.cafeteria_rating_ballot input#cafeteria_rating_submit { display: none; }
		form.cafeteria_rating_ballot input.cafeteria_rating_button { display: none; }


		form.cafeteria_rating_ballot label.cafeteria_rating { cursor: pointer; margin-left: 0;
			margin-right: 0; display: block; height: 16px; width: 16px; float: left; }
			form.cafeteria_rating_ballot label.cafeteria_rating span { display: none; }
			form.cafeteria_rating_ballot label.cafeteria_rating { background-image: url(/assets/star-off.png); }
			form.cafeteria_rating_ballot label.cafeteria_rating.bright { background-image: url(/assets/star-on.png); }
			form.cafeteria_rating_ballot label.cafeteria_rating.glow { background-image: url(/assets/star-on.png); }

			/* -- clubs rating css */

			form.club_rating_ballot input#club_rating_submit { display: none; }
			form.club_rating_ballot input.club_rating_button { display: none; }


			form.club_rating_ballot label.club_rating { cursor: pointer; margin-left: 0;
				margin-right: 0; display: block; height: 16px; width: 16px; float: left; }
				form.club_rating_ballot label.club_rating span { display: none; }
				form.club_rating_ballot label.club_rating { background-image: url(/assets/star-off.png); }
				form.club_rating_ballot label.club_rating.bright { background-image: url(/assets/star-on.png); }
				form.club_rating_ballot label.club_rating.glow { background-image: url(/assets/star-on.png); }



