<h3>View, rate, and share your experience about a course</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses_categories.each do |courses_category| %>
      <tr>
        <td><%= courses_category.name %></td>
        <td><%= link_to 'Show', courses_category %></td>
        <% if is_admin? %> 
        <td><%= link_to 'Edit', edit_courses_category_path(courses_category) %></td>
        <td><%= link_to 'Destroy', courses_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%> 
      </tr>

    <% end %>
  </tbody>
</table>

<br>
<% if is_admin? %> 
<%= link_to 'New Courses category', new_courses_category_path %>
<%end%>
