<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @courses_category.name %>
</p>

<%= link_to 'Edit', edit_courses_category_path(@courses_category) %> |
<%= link_to 'Back', courses_categories_path %>
