<%= form_for(@club_comment) do |f| %>
  <% if @club_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club_comment.errors.count, "error") %> prohibited this club_comment from being saved:</h2>

      <ul>
      <% @club_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment_made %><br>
    <%= f.text_field :comment_made %>
  </div>
  <div class="field">
    <%= f.label :club_id %><br>
    <%= f.text_field :club_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
