<h1>Listing club_comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment made</th>
      <th>Club</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @club_comments.each do |club_comment| %>
      <tr>
        <td><%= club_comment.comment_made %></td>
        <td><%= club_comment.club %></td>
        <td><%= club_comment.user %></td>
        <td><%= link_to 'Show', club_comment %></td>
        <td><%= link_to 'Edit', edit_club_comment_path(club_comment) %></td>
        <td><%= link_to 'Destroy', club_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Club comment', new_club_comment_path %>
