<h1>New club_comment</h1>

<%= render 'form' %>

<%= form_for [@club, @club_comment] do |f| %>
   <%= f.text_field :comment_made %>
   <%= f.submit %>
<% end %>

<%= link_to 'Back', club_comments_path %>
