<p id="notice"><%= notice %></p>

<p>
  <strong>Comment made:</strong>
  <%= @club_comment.comment_made %>
</p>

<p>
  <strong>Club:</strong>
  <%= @club_comment.club %>
</p>

<p>
  <strong>User:</strong>
  <%= @club_comment.user %>
</p>

<%= link_to 'Edit', edit_club_comment_path(@club_comment) %> |
<%= link_to 'Back', club_comments_path %>
