<%= form_for(@course_comment) do |f| %>
  <% if @course_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_comment.errors.count, "error") %> prohibited this course_comment from being saved:</h2>

      <ul>
      <% @course_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
