<h1>Listing course_comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_comments.each do |course_comment| %>
      <tr>
        <td><%= course_comment.comment %></td>
        <td><%= link_to 'Show', course_comment %></td>
        <td><%= link_to 'Edit', edit_course_comment_path(course_comment) %></td>
        <td><%= link_to 'Destroy', course_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course comment', new_course_comment_path %>
