<h1>New course_comment</h1>

<%= render 'form' %>

<%= form_for [@course, @course_comment] do |f| %>
   <%= f.text_field :comment_made %>
   <%= f.submit %>
<% end %>

<%= link_to 'Back', course_comments_path %>
