<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @course_comment.comment %>
</p>

<%= link_to 'Edit', edit_course_comment_path(@course_comment) %> |
<%= link_to 'Back', course_comments_path %>
