<div id="footer">

	<div class="small-6 columns">
	
	<ul class="inline-list">
	<li><a href="#"><%= link_to 'Visit CMUQ', "http://www.qatar.cmu.edu", :class => "style-visitcmuq"%></a></li>
    <li><a href="#"><%= link_to 'Site Map', '/sitemap', :class => "style-sitemap"%></a></li>
  	<li><a href="#"><%= link_to 'Contact Us', '/contactus', :class => "style-contactus"%></a></li>
  	</ul>

  <span id="style-copyrights">Copyright 2015 Tartan Ratings. All Rights Reserved.</span>
</div>

<div class="small-6 columns" >
	
	<div id="footer_icons">
<%= link_to image_tag("twitter_1.png"), "https://twitter.com/carnegiemellonq" %>
<%= link_to image_tag("facebook_1.png"), "https://www.facebook.com/CarnegieMellonQ?fref=ts"%>
<%= link_to image_tag("youtube_1.png"), "https://www.youtube.com/user/CarnegieMellonQatar" %>
</div>

</div>

</div>

