<div id="header">

  <div class="small-6 columns">
    <%= link_to image_tag("logo.jpg"), root_path, :class => "style-logo" %>
    <span id="uni-name">Carnegie Mellon University</span> 
    <span id="uni-location">Qatar</span>
  </div>

  <div class="small-6 columns">

    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
                      <%if signed_in?%>

          <div class="small-4 columns">

            <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false"><%=current_user.email%></a>

            <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
              <li><a href="#"><%= link_to "View Profile", current_user %></a></li>
              <li><a href="#"><%= link_to "Sign out", signout_path, method: :delete %></a></li>
            </ul>


          </div>

          <%= form_tag("/showresult", method: "post") do %>
          <div class="small-6 columns">
            <%= text_field_tag(:q) %>
          </div>

          <div class="small-2 columns">
            <%= submit_tag("Search") %>
          </div>

          <%end%>

            <%end%>

        </div>
      </div>
    </div>

     <!-- <%if signed_in?%>
 
      <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false"><%=current_user.email%></a>

      <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
        <li><a href="#"><%= link_to "View Profile", current_user %></a></li>
        <li><a href="#"><%= link_to "Sign out", signout_path, method: :delete %></a></li>
      </ul>
      <%= form_tag("/showresult", method: "post") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
      <% end %>


      <%end%>
    -->
  </div>

</div>
