<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Webapp</title>

    <%= stylesheet_link_tag    "application" %>
     <%= stylesheet_link_tag    "custom" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
       
  
  <%= javascript_include_tag 'jquery', 'jquery_ui', 'rails', 'application' %>
      <%= yield :scripts %>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  </head>

<body>
  <div id="wrapper">
    <%= render 'layouts/header' %>
      <div id="content">
       <%= yield %>
      </div>
    <%= render 'layouts/footer' %>
    </div>

      <script>
       $(document).foundation()
  </script>
  
  </body>
</html>